
# Ignorar archivos de eslint
.eslintrc.js
.eslintrc.cjs
.eslintrc.yaml
.eslintrc.yml
.eslintrc.json
.eslintignore

# Ignorar el archivo css.txt
css.txt
# Ignorar node_modules
node_modules/